body {
  width: 100%;
  height: 100% !important;
}

.bg {
  background-color: rgb(60, 60, 60);
}

.nav-color {
  background-color: #f8f9fa;
}

.vertical {
  width: 100%;
}

.full-image {
  width: 100%;
  height: 100%;
}

.no-margin {
  margin: 0px;
  padding: 0px;
}

.img {
  height: 500px;
  width: 500px;
}

/*.footer {
    background-color: #F8F9FA;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}*/


.main{
  position: absolute;
  background-color: red;
  min-height: 100%;
  width: 100%;
}

footer {
  background-color: #f8f9fa;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
}

.footer-text {
  color: #6c757d;
}
