
body {
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

.bg {
  background-color: rgb(60, 60, 60);
}

.vertical {
  width: 100%;
}

.full-image {
  width: 100%;
  height: 100%;
}

.no-margin {
  margin: 0px;
  padding: 0px;
}

.img {
  height: 500px;
  width: 500px;
}

/*.footer {
    background-color: #F8F9FA;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}*/

.main {
  position: static;
  height: 100%;
  width: 100%;
}
.main-servicos {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 100px;
}
.main-contato {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 100px;
}
.space {
  margin-bottom: 120px;
}

footer {
  background-color: #212529;
  color:#FFFFFF ;
}
nav {
  background-color: #212529;
}

.disp{
  display: grid;
}

.footer {
  width: 100%;
  height: 50px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
}

.footer-contato{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer-text {
  color: #FFFFFF;
}

.form{
  color: #212529;
}

.card-contato{
  width: 100%;
  height: 100%;
}
